.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}
.nav-bar {
  overflow: hidden;
  background-color: #333;
  /* Set the navbar to fixed position */
  top: 0;
  z-index: 5;
  width: 100%; /* Full width */
}
.nav-bar li {
  float: left;
  display: block;
  color: #f2f2f9;
  text-align: left;
  padding: 14px 16px;
  text-decoration: none;
}
.nav-bar li:hover {
  background: #ddd;
  color: black;
}
.shopping-cart {
  position: absolute;
  right: 20px;
  top: 25px;

}
 .item-contariner, .cart {
  margin-top: 100px;

}

.sign-in {
margin-top: 180px;
width: 30%;
margin-left: auto;
margin-right: auto;
background-color: rgba(0, 0, 0, 0.5);
padding: 40px;
border-radius: 4px;
}


.card {
  margin-top: 30px;
  object-fit: cover;
}



.item-contariner, .cart{
  width: 75%;
  margin-left: 180px;
  margin-right: 30px;
}

.video-background {
 background: #000;
position: fixed;
top: 0;
bottom: 0;
right: 0;
left: 0;
z-index: -99;
&::after {
   display: block;
   content: ‘’;
   position: absolute;
   top: 0;
   left: 0;
   width: 80%;
   height: 100%;
   z-index: 1;
   background: rgba(0,0,0,0.75)
}
}

.banner {
  height: 100px;
}

.sky {
  background-image: url(src="https://s3.envato.com/files/216243106/Preview%20image%20set/Web%20Banner/Skyscraper/Skyscraper-01.jpg");
}

.one {
  position: relative;
  left: 300px;
  bottom: 500px;
  background-color: black;
}
.two {
  position: relative;
  left: 700px;
  bottom: 779px;
  object-fit:fill;

}

.quantity {
  margin-top: 20px;
}

.order {
  border: black solid 1px;
  padding: 5px;
}


.payment, .end {
  width: 30%;
  height: 300px;
  border: black solid 1px;
  margin: auto;
  padding: 50px;
}

.end {
  margin-top: 150px;
  padding: 40px;
}

.cart-number {
   background-color: orange;
   height:20px;
   width: 20px;
   border-radius: 50%;
  position: absolute;
  right: 26px;
  top: 30px;
  color: black;
  font-family: 'Righteous', cursive;
  font-size: 13px;
}
.checkout-btn {
  position: absolute;
  right: 30px;
  top: 120px;
}
.modal {
  padding-left: 20px;
  padding-bottom: 20px;
}

.empty {
  width: 50%;
  margin: auto;
  margin-top: 80px;;
}

.img {
  cursor: pointer;
}

.price {
  background-color: orange;
  height:20px;
  width: 50px;
  border-radius: 4%;
 position: relative;
 left: 20px;
 bottom: 30px;
 color: black;
 font-family: 'Righteous', cursive;
 font-size: 13px;
}

.lorem {
  margin-top: 0;
 border: 1px solid;
 border-radius: 2px;
 padding: 10px;
 box-shadow: 2px 4px #888888;
}

.full-name, .email, .amount {
  width: 50%;
  margin-bottom: 5px;
}
.StripeElement {
  width: 50%;
  left: 160px;
  position: relative;
  height: 35px;
 border-radius: 4px;
 border: #DCDCDC 1px solid;
 margin-top: 35px;
 background-color: white;
  transform: perspective(1px) translateY(-50%);
}
.checkout-form {
  background-color: #404040;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 4px;
 filter: drop-shadow(12px 12px 10px black)
}
.payment-details {
  color: orange;
}

.final {
  margin-right: auto;
  margin-left: auto;
  width: 45%;
  height: 250px;
  position: relative;
  top: 200px;
  padding-top: 90px;
  padding-bottom: 20px;
  border-radius: 4px;
  border: black solid 2px;
  background-color: orange;
filter: drop-shadow(12px 12px 10px black);
}
